{{#partial "content"}}
<style>
    form {
        background-color: aquamarine;
    }

    .h2 {
        text-align: center;
    }

    label {
        font-size: 20px;
        color: #000;
    }

    .form-control {
        margin-bottom: 2rem;
    }

    .data-label {
        font-size: 20px;
    }

    .data {
        font-weight: 700;
    }
</style>
<section>

    <div class="row container">
        <div class="col-md-1"></div>

        <div class="col-md-6">
            <h2 class="text-center">Track an animal</h2>
            <form action="/add-sighting" method="POST" class="border border-success p-4">

                {{!-- id to be set by jquery when clicked on option --}}
                <input hidden id="sighted-animal" name="sighted-animal" type="number" value="0">

                {{!-- Endangered property to be set by the selected option --}}
                <input hidden id="isendangered" name="isendangered" type="text" value="">

                <label class="form-label" for="name-sited">Animal sighted: </label>
                <select id="name-sited" class="form-control" name="animal">
                    <option class="active-animal" value="0">---options---</option>
                    {{#each animals}}
                    <option value="{{id}}"> {{name}}</option>
                    {{/each}}
                </select>

                <div class="endangered bg-info p-2">

                    <p>Give more details for this endangered animal.</p>

                    <label class="form-label" for="health">Health Satatus</label>
                    <select class="form-control" name="health" id="health">
                        <option value="">---options---</option>
                        <option value="healthy">Healthy</option>
                        <option value="ill">Sickly</option>
                        <option value="okay">Ok</option>
                    </select>

                    <label class="form-label" for="age">Age category</label>
                    <select class="form-control" name="age" id="age">
                        <option value="">---options---</option>
                        <option value="newborn">Newborn</option>
                        <option value="young">Young</option>
                        <option value="adult">Adult</option>
                    </select>
                </div>

                <label class="form-label" for="location">Enter Zone</label>
                <select class="form-control" name="location" id="location">
                    <option value="null">---options---</option>
                    <option value="zone A">Zone A</option>
                    <option value="zone A">Zone B</option>
                    <option value="zone A">Zone C</option>
                </select>

                <label class="form-label" for="ranger">Name of the Ranger</label>
                <select class="form-control" name="ranger" id="ranger">
                    <option value="null">---options---</option>
                    <option value="pater">Peter</option>
                    <option value="joan">Joan</option>
                    <option value="robert">Robert</option>
                </select>

                <button class="btn btn-success form-control">Submit</button>

            </form>

        </div>

        <div class="col-md-5">

            <h2>Sightings Summary</h2>

            <div class="border border-success p-3">
                <p class="data-label">Endangered Animal: <span class="data">{{endangered}}</span></p>
                <p>Non-Endangered Animals: <span class="data">{{non-endangered}}</span></p>
                <hr>
                <p>Total Animals Tracked: <span class="data">{{allSightings}}</span></p>

                <a class="btn btn-success form-control border-bottom border-primary" href="/animals">Add New Animal</a>


            </div>

        </div>
        <div class="col-md-1"></div>

    </div>
    <script>
        $(document).ready(function () {
            isEndangered();

            $("#name-sited").change(function () {
                isEndangered();
            });
        })

        function isEndangered() {

            if ($("#name-sited").val() == 0) {
                $("#isendangered").val("false");
                $(".endangered").hide();
                return;
            }

            var optionId = $("#name-sited").children(':selected').val();

            $.ajax(`/animals/${optionId}`, {

                success: function (data, status, xhr) {
                    const animal = JSON.parse(data);
                    $("#isendangered").val(animal.isendagered);
                    $("#sighted-animal").val(animal.id);
                    if (animal.isendagered) {
                        $(".endangered").show()

                    } else {
                        $(".endangered").hide();
                    }
                }
            });
        }

    </script>
</section>
{{/partial}}

{{> layout.hbs}}